<div align="center" style="height: 30%; width: 80%; background-color: lightblue; margin: auto; padding: 2%">
<h3>Login Page!</h3>
<form class="" action="register" method="post">
  <table>
    <tr>
      <td>Name</td>
      <td><input type="text" name="name" value=""> <br></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input type="text" name="email" value=""> <br></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="text" name="password" value=""> <br></td>
    </tr>
  </table>
<input type="submit" name="" value="Submit">
</form>


</div>
