<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Digital Organization</h3>
      </div>

      <div class="jumbotron">
        <h1>What is This?</h1>
        <p class="lead">A simple web app for testing RESTful Web Services methodology.</p>
        <p><a class="btn btn-lg btn-success" href="https://github.com/Kamakshaiah" role="button">Know More!</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Web Service</h4>
          <p>In a Web service a Web technology such as <a href="https://en.wikipedia.org/wiki/Web_service">HTTP</a> — originally designed for human-to-machine communication[citation needed] — is used for transferring machine-readable file formats such as XML and JSON.</p>

          <h4>Web API</h4>
          <p>A Web API is an application programming interface for either a web server or a web browser. It is a web development concept, usually limited to a web application's client-side (including any web frameworks being used), and thus usually does not include web server or browser implementation details such as SAPIs or APIs unless publicly accessible by a remote web application.</p>

          <h4>Representational State Transfer (REST)</h4>
          <p>Representational State Transfer (REST) is a software architectural style that defines a set of constraints to be used for creating Web services. Web services that conform to the REST architectural style, called RESTful Web services (RWS), provide interoperability between computer systems on the Internet.</p> <br>
          <p>REST is an architectural style of networked systems and stands for Representational State Transfer. It's not a standard itself, but does use standards such as HTTP, URL, XML, etc. </p>
        </div>

        <div class="col-lg-6">
          <h4>Simple Object Access Protocol (SOAP)</h4>
          <p>SOAP (abbreviation for Simple Object Access Protocol) is a messaging protocol specification for exchanging structured information in the implementation of web services in computer networks.</p> <br>
          <p>SOAP is an XML-based protocol that lets you exchange info over a particular protocol (can be HTTP or SMTP, for example) between applications. It stands for Simple Object Access Protocol and uses XML for its messaging format to relay the information.</p>

          <h4>Web Services Description Language (WSDL)</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p> <br>
          <p>A WSDL is an XML document that describes a web service. It actually stands for Web Services Description Language.</p>
		
          <h4>For More</h4>
          <p><a href="https://en.wikipedia.org/wiki/Overview_of_RESTful_API_Description_Languages">Know More!</a></p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

  </body>
</html>
