{% extends "layout.html" %}

{% block home %}
<div class="">
  <div class="mt-5 p-5 text-center bg-primary text-white">
    <h1 style="font-family: 'Bebas Neue', cursive; font-size: 500%;">Welcome to BSECS.</h1> <br>
    <h3 style="font-family: 'Source Sans Pro', sans-serif;font-size: 250%;">A place for Digital Infrastructure and Analytics. </h3>
    <a href="/itconsulting"><button type="button" class="btn btn-outline-light m-1">Know More!</button></a>
    <a href="/contact"><button type="button" class="btn btn-outline-light m-1">Contact</button></a>
  </div>

  <div class="">
    <div class="row m-0.5">
    <div class="col-3 text-center">
        <img src="static/it-consulting.png"  height=65% width=80% alt="IT Consulting">
      </div>
      <div class="col-3 p-2 text-justify">
        <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>

      <div class=" col-3 p-2 text-justify">
        <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>

      <div class="col-3 text-center">
        <img src="static/robotics.png"  height=65% width=80% alt="Robotics">
      </div>
    </div>

  </div>
</div>

{% endblock %}
